@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-image: url("./Assets/background_pic.png");
  background-repeat: repeat;
}

body::-webkit-scrollbar {
  width: 24px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(33, 150, 243);
  border-radius: 12px;
  border: 2px solid black;
}

html {
  overflow-y: scroll;
}

button,
button:active,
button:visited,
button:focus,
button:hover {
  cursor: pointer;
  border: none;
  outline: none;
}

a:active {
  transition: 200ms, ease;
}
