.login-container {
  display: flex;
  flex-direction: column;
  width: 440px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: white;
}

.login-form-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.6rem;
}

.login-form-title {
  text-align: center;
  padding-top: 1rem;
}

.login-label {
  text-align: center;
  padding-top: 1rem;
  font-weight: bolder;
}

.login-input {
  width: 360px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid black;
  margin: auto;
  border-radius: 6px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  color: rgb(33, 150, 243);
}

.login-input:focus {
  outline: none !important;
  border: 2px solid rgb(33, 150, 243);
  box-shadow: 0 0 10px gray;
}

.error {
  padding-top: 0.5rem;
  color: red;
  font-weight: bold;
  text-align: center;
}

.login-container p {
  opacity: 0.5;
  transition: 0.3s;
  padding-top: 0.6rem;
}

.fa-times {
  opacity: 1;
}

.fa-check {
  opacity: 0;
}

.login-container p .icon {
  position: absolute;
  display: flex;
  justify-content: left;
  margin-left: 150px;
  width: 26px;
  height: 26px;
  line-height: 30px;
  border-radius: 50%;
  color: gray;
  border: 2px solid gray;
}

span {
  line-height: 28px;
  padding-left: 180px;
}

.login-form-button {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.login-button {
  height: 30px;
  width: 100px;
  background-color: rgb(33, 150, 243);
  border-radius: 15px;
  margin: 0 10px 0 10px;
  color: white;
  box-shadow: 2px 2px 4px gray;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
}

.login-button:hover {
  color: black;
}
